* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: #0c2461;
  text-decoration: none;
  text-align: left;
  font-size: 1rem;
  font-family: Lucida Console, monospace;
  color: white;
  line-height: 1.5;
}

.header {
  text-align: center;
  margin: 3rem;
}

/* .footer {
  width: 100%;
  padding: 1rem;
} */


a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  color: #FDA7DF;
}




/* ~~~~ responsive divs + columns ~~~~ */

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}



.column,
.column-2,
.column-3 {
  /* style columns here */
  padding: 1rem;
  /* left and right margins are 0 so it won't mess up the column layout... top and bottom have a little margin */
  margin: 2rem 0 2rem 0;
  width: 100%;
}

/* make sure images fill the div and have proportional height */
img,
.column img,
.column-2 img,
.column-3 img {
  width: 100%;
  height: auto;
}

/* This is a mobile-first design, meaning the width of columns for mobile are set here (100% of the width or a single column layout). Column width for browsers are set in the media query  */

.column,
.column-2,
.column-3 {
  flex-basis: 100%;
}


/* this media query defines the width of columns on a device WIDER than 640px - on a browser */
@media screen and (min-width: 640px) {
  .container {
    padding: 5rem;
  }

  .column {
    flex-basis: 100%;
  }

  .column-2 {
    flex-basis: 50%;
  }

  .column-3 {
    flex-basis: 33%;
  }
}